<body>
    <div class="title">
        <h1>Checkout</h1>
    </div>
    <div class='checkout-step'>
        <h2> Seleccione su metodo de pago </h2>
    </div>
    <div class='sections'>
        <div class='section-container'>
            <div class='section-title'>
                <h2>METODOS DE PAGO</h2>
            </div>
            <div>
                <div class='crud-buttons'>
                    <button class='btn active' ng-click='changeBtnStyle()' [routerLink]="['/checkout-pago-paypal']" routerLinkActive="router-link-active">PAYPAL</button>
                    <button class='btn active' ng-click='changeBtnStyle()' [routerLink]="['/checkout-pago-tarjeta']" routerLinkActive="router-link-active" >TARJETA DE CREDITO</button>
                    <button class='btn active'[routerLink]="['/checkout-pago-efectivo']" routerLinkActive="router-link-active">EFECTIVO</button>
                </div>
            </div>
        </div>
    </div>
    
</body>