<body>
    <header>
        <img src='assets/images/shop/headerShop.png' alt='shopHeaderImage'>
    </header>
    <div class='container'>
        <div class='filter'>
            <div class='filter-buttons'>

            </div>
            <div class='filter-input'>
                <form class="form-inline">
                    <p>Buscar por nombre: </p>
                    <div>
                        <input type="text" class="form-control mr-sm-2" name="filterName" placeholder="Search" aria-label="Search" [(ngModel)]="filterName">
                    </div>
                </form>
            </div>
        </div>
        <div>
            <div class='products'>
                <div class='options'>

                </div>
                <div class='product-cards'>

                    
                </div>
            </div>
            <div class='cart'>

            </div>
        </div>
    </div>


</body>



