<body>
    <header>
        <img src='assets/images/shop/headerShop.png' alt='shopHeaderImage'>
    </header>
    <div class='container'>
        <div class='filter'>
            <h2>Filtra tu búsqueda</h2>
            <div class='filter-buttons'>

            </div>
            <div class='filter-input'>
                <form class="form-inline">
                    <p>Buscar por nombre: </p>
                    <div>
                        <input type="text" class="form-control mr-sm-2" name="filterName" placeholder="Search" aria-label="Search" [(ngModel)]="filterName">
                    </div>
                </form>
            </div>
        </div>
        <div class='container2'>
            <div class='products'>
                <div class='options'>
                    <p>options</p>
                </div>
                <div class='product-cards'>
                    <ul class="cards">
                        <li class="cards__item" *ngFor="let prod of products | filterByName:filterName ">
                        <div class="card">
                            <img class="card__image card__image--fence" src="{{prod.image}}" alt="{{prod.name}}">
                            
                            <button class="btn btn--block card__btn" (click)='showDeets(prod.name)'>{{prod.name}} - ${{prod.price}}</button>
                            
                        </div>
                        </li>
                    </ul>
                    
                </div>
            </div>
            <div class='cart'>
                <div class='cart-container'>
                    <h3>SHOPPING CART</h3>
                </div>
            </div>
            

            
        </div>
    </div>


</body>



