@import 'src/app/styles/lib/variables';

body {
    background-image: $color-bg-gradient;
    font-family: $font-text;
    

    h2{
        font-family: $font-titles;
    }



    p{
        padding-top: 2vh;
        font-size: 3vh;
    }
}


header{
    img{
        width: 100%;
    }
}





.filter{
    background-color: $color-transparent-white;
    padding: 2rem;
    border-radius: 1rem;

    .form-inline{
        p{
            padding: 1rem;
        }
    }
}

.products{
    width: 80vw;
}



.container2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .cart{
        width: 20vw;
    }
}




/*
*,
*::before,
*::after { 
  box-sizing: border-box;
}*/


.product-cards {
  padding: 1rem;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;



  img {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
  }
  
  .btn {
    background-color: $color-gold;
    //border-radius: 1rem;
    color: white;
    padding: 0.5rem;
    height: 40%;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .btn--block {
    display: block;
    width: 100%;
  }
   
  .cards {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
  }
  
  .cards__item {
    display: flex;
    padding: 1rem;
    @media(min-width: 40rem) {
      width: 50%;
    }
    @media(min-width: 56rem) {
      width: 25%;
    }
  }
  
  .card {
    background-color: white;
    border-radius: 0.25rem;
    box-shadow: 0 10px 20px -7px rgba(0,0,0,0.25);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 10vw;
    height: 8vw;
    &:hover {
      .card__image {
        filter: contrast(100%);
      }
    }
  }
  
  
  
  .card__image {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    filter: contrast(80%);
    //filter: saturate(180%);
    overflow: hidden;
    position: relative;
    transition: filter 0.5s cubic-bezier(.43,.41,.22,.91);;
    &::before {
      content: "";
        display: block;
      padding-top: 56.25%; // 16:9 aspect ratio
    }
    @media(min-width: 40rem) {
      &::before {
        padding-top: 66.6%; // 3:2 aspect ratio
      }
    }
  }
  
  
}





.cart-container{
    margin: 5rem 1rem 1rem 0;
    padding: 1rem;
    background-color: $color-transparent-white;
}