<body>
    <header>
        <img src='assets/images/contact/headerContact.png' alt='contactHeaderImage'>
    </header>

    <div class='top-container'>
        <div>
            <h2>Nuestras sucursales</h2>
            <div>
                <!--aquí va que si un mapa-->
            </div>
            <div>
                <ul class='locations'>
                    <li>
                        Universidad Metropolitana de Caracas
                    </li>
                    <li>
                        Tolón Fashion Mall
                    </li>
                    <li>
                        Centro Comercial Paseo El Hatillo
                    </li>
                </ul>
            </div>
        </div>
        <div>
            <h2>Pónte en contacto</h2>
            <div class='git-cards'>
                <div class='git-card' id='email'>
                    <div class='git-card-y'>
                        <!--yellow part-->
                        ¿Sugerencias, reportes o preguntas? ¡Envíanos un correo!
                    </div>
                    <div class='git-card-w'>
                        <!--white part-->
                        <a href="mailto:isabel.asenjo@correo.unimet.edu.ve?subject=KND%20Contact%20through%20email">support@knd.com</a>
                    </div>
                </div>
                <div class='git-card' id='phone'>
                    <div class='git-card-y'>
                        <!--yellow part-->
                        ¿Quieres hacernos una llamada? ¡Aquí tienes nuestro número!
                    </div>
                    <div class='git-card-w'>
                        <!--white part-->
                        +00 000-0000000
                    </div>
                </div>
                <div class='git-card' id='socials'>
                    <div class='git-card-y'>
                        <!--yellow part-->
                        ¡Encuéntranos en tus redes sociales favoritas!
                    </div>
                    <div class='git-card-w'>
                        <!--white part-->
                        <div> <!--hay que poner los links en el ts-->
                            <a class="fab fa-twitter fa-2x"></a>
                            <a class="fab fa-instagram fa-2x"></a>
                            <!--<div><img id="linkInstagram" src="https://i.pinimg.com/originals/a2/5f/4f/a25f4f58938bbe61357ebca42d23866f.png" alt="instagram logo"></div>
                            <div><img id="linkTwitter" src="https://assets.stickpng.com/images/580b57fcd9996e24bc43c53e.png" alt="twitter logo"></div>
                            -->
                            <p>@thekndshop</p>
                        </div>
                        <div>
                            <!--fb profile-->
                            <a class="fab fa-facebook fa-2x"></a>
                            <p>THE KND SHOP</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div id='contact'>
        <div class='form'>
            <div class='contact-form-b'> <!--blue part-->
                <h3>FORMULARIO DE CONTACTO</h3>
            </div>
            <div class='contact-form-w'> <!--white part-->
                <div class="fields">
                    <div id="getNameDiv">
                        Nombre: 
                        <input type="text" id="nameInput">
                    </div>
                    <div id="getEmailDiv">
                        E-mail: 
                        <input type="text" id="emailInput">
                    </div>
                    <div id="getMessageDiv">
                        Mensaje: 
                        <input type="text" id="messageInput">
                    </div>
                </div>
                <button id="buttonContact">ENVIAR</button>
            </div>
        </div>
        

    </div>


</body>