<footer class="page-footer">

    <!--<div class="footer-links">
  
        <div class="footer-list">
  
          <h5 class="links-section">SABER MÁS</h5>
  
          <ul class="list-unstyled">
            <li>
              <a href="#!">SOBRE NOSOTROS</a>
            </li>
            <li>
              <a href="#!">LOCALES</a>
            </li>
          </ul>
  
        </div>
  
        <div class="footer-list">
  
          <h5 class="links-section">CONTÁCTANOS</h5>
  
          <ul class="list-unstyled">
            <li>
              <a href="#!">E-MAIL</a>
            </li>
            <li>
              <a href="#!">SERVICIO AL CLIENTE</a>
            </li>
          </ul>
  
        </div>
  
        <div class="footer-list">
  
          <h5 class="links-section">TUS PEDIDOS</h5>
  
          <ul class="list-unstyled">
            <li>
              <a href="#!">MI CUENTA</a>
            </li>
            <li>
              <a href="#!">INFORMACIÓN DE ENTREGA????</a>
            </li>
          </ul>
  
        </div>
        <div class="footer-socials">
  
          <ul class="footer-list">
            
            <li>
              <a class="fab fa-twitter fa-2x"></a>
              </li>
            <li>
              <a class="fab fa-instagram fa-2x"></a>
            </li>
            <li>
              <a class="fab fa-facebook fa-2x"></a>
            </li>
          </ul>
  
        </div>
  
    </div>-->
  
    <div class="developed-by">DEVELOPED BY ROQUITO & ISA :)</div>
  
  </footer>