<body>
    <div class="homeContent">
    <main>
        <div class="top">
            <div class="top top-logoAndIntro">
                <img src="./assets/images/logos/LogoKND1.png" alt="logo" id="logoHome">
                <div>WELCOME BLABLABLABLABLA</div>
            </div>
            <div>
                <img src="./assets/images/home/lollipops.jpg" alt="lollipopsInLilacBg" id="lollipopsHome">
            </div>
        </div>
  
        <div class="bestSellers">
            x
        </div>
            x
        <div class="shopByPrice">
  
        </div>
  
  
    </main>
    </div>
  </body>