@import 'src/app/styles/lib/variables';

*{
    font-family: $font-text; // esto tengo que cambiarlo por una variable
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}



.homeContent{
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: $color-mauve;
    height: vh;
}

main{
    padding: 0 50px 0 200px;
    height: vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1 0 auto;
}

.top{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.top .top-logoAndIntro{
    display: flex;
    flex-direction: column;
    font-size: $fs-regular+10px;
    color: white;
    height: 700px;
}

.top .top-logoAndIntro div{
    height: 20%;
}

.foto{
    overflow: hidden;
}

#lollipopsHome{
    padding-top: 15px;
    height: 790px;
}