<nav class="navbar">
    <img src="assets/images/logos/LogoKND1 (1).png" alt="logoAltHorizB&W" id="logoNavbar">
    <ul class="links">
        <li><a href="">INICIO</a></li>
        <li><a href="/shop">TIENDA</a></li>
        <li><a href="/about">CONÓCENOS</a></li>
        <li><a href="/contact">CONTÁCTANOS</a></li>
        <li *ngIf="isAuthenticated"><a href="/admin">ADMIN</a></li>
        <li class="nav-item dropdown">
          <i id="userCircle" class="fas fa-user-circle fa-1.5x"></i> <!--(click)="openOCMenu()"-->
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{ user.displayName }}
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <button class="dropdown-item" (click)="loginWithGoogle()"> Login with Google </button>
            <div class="dropdown-divider"></div>
            <button class="dropdown-item" (click)="logout()" *ngIf="isAuthenticated">Logout</button>
          </div>
          
        </li>
    </ul>
    
</nav>      