@import 'src/app/styles/lib/variables';


*{
    font-family: $font-text;
    color: white;
    overflow: hidden;
}
body {
    background-image: $color-bg-gradient;
    height: 100vh;
}

.title{
    text-align: center;
    padding: 15vh;
    padding-bottom: 5vh;
    h1{
        color: black;
        font-family: $font-titles;
    }
}

.breadcrumbs{
    width: 100vw;
    padding-left: 10%;
}


.crud-view {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 40vh;
}


app-crud-buttons{
    width: 20%;
    margin: 20px;
    height: 100%;
}

.crud-detail {
    width: 70vw;
    padding: 10%;
}


.breadcrumb {
    background: transparent;
    font-size: large;
}

.breadcrumb-item.active {
    color: $color-gold;
}


ul {
    padding: 0;

    li {
        list-style: none;
    }
}


#purchase-records{
    background-color: $color-transparent-white;
    padding:  2%;
    border-radius: 15px;
    height: 200px;
    overflow: hidden;

    .purchase-record{
        display: flex;
        flex-direction: row;
        padding: 5px 10px 5px 20px;
        font-size: $fs-regular;

        .purchase-id {
            background-color: $color-free-speech-magenta;
            width: 15%;
            border-top-left-radius: 15px;
            border-bottom-left-radius: 15px;
            text-align: center;
            font-size: large;
        }

        .purchase-id:hover{
            cursor: pointer;
        }

        .purchase-info {
            background-color: white;
            width: 80%;
            border-top-right-radius: 15px;
            border-bottom-right-radius: 15px;

            p{
                padding-left: 2%;
                color: black;
            }
        }
    }

    
}



.pr-container{
    overflow-y: scroll;
    border-radius: 15px;
    height: 200px;
    width: 98%;
}

.pr-container::-webkit-scrollbar{
    width: 10px;
    background:transparent;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
.pr-container::-webkit-scrollbar-thumb{
    background: #808080;
    border-radius: 15px;
}

.modal {
    text-align: center;
    h4{
        color: black;
        font-family: $font-titles;
    }
    .modal-body{
        color: black;
        font-size: large;
    }
    .btn-danger{
        background: $color-lavander-rose;
    }
}

.decision-btns{
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    .conf{
        background-color: $color-dark-turquoise;
    }
    .canc{
        background-color: #333333;
    }
}