<body>
    <div class="title">
        <h1>Gestión de la página:</h1>
        <h1>aquíVaLaElección</h1>
    </div>

    <div class='breadcrumbs'>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href='/admin'>GESTIÓN DE LA PÁGINA</a></li>
              <li class="breadcrumb-item">CRUDS</li>
              <li class="breadcrumb-item active" aria-current="page">ELIMINAR</li>
            </ol>
          </nav>
    </div>

    <div class='crud-view'>
        <app-crud-buttons></app-crud-buttons>

        <div class='crud-detail'>
            <app-delete-product></app-delete-product>
        </div>
    </div>
</body>
