<body>
<div class='breadcrumbs'>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href='/admin'>GESTIÓN DE LA PÁGINA</a></li>
          <li class="breadcrumb-item">CRUDS</li>
          <li class="breadcrumb-item active"><a href='/admin-cruds/update'>MODIFICAR</a></li>
          <li class="breadcrumb-item active" aria-current="page">DETALLE</li>
        </ol>
      </nav>
</div>
<app-product-form ></app-product-form> <!--*ngIf='router == "admin-cruds/product/:productId/update"'-->

</body>