@import 'src/app/styles/lib/variables';


*{
    font-family: $font-text;
    color: white;
    overflow: hidden;
}
body {
    background-image: $color-bg-gradient;
    height: 100vh;
}

.title{
    text-align: center;
    padding: 15vh;
    padding-bottom: 5vh;
    h1{
        color: black;
        font-family: $font-titles;
    }
}

.breadcrumbs{
    width: 100vw;
    padding-left: 10%;
}


.crud-view {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 40vh;
}


.crud-buttons{
    height: 100%;
    width: 25%;
    border-right: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    
    ul{
        list-style: none;
        li{
            margin: 5%;
        }
    }


    .btn{
        background-color: transparent;
        border: none;
        text-align: center;
        height: 5vh;
        width: 10vw;
        color: black;
        font-size: large;
    }
    .active{
        background-color: $color-dark-turquoise;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.575);
        color: white;
    }

}

.crud-detail {
    width: 70vw;
    padding: 2%;
    overflow-y: scroll;
}


.breadcrumb {
    background: transparent;
    font-size: large;
}

.breadcrumb-item.active {
    color: $color-gold;
}



.crud-detail {
    width: 70vw;
    padding: 2%;
}


.breadcrumb {
    background: transparent;
    font-size: large;
}

.breadcrumb-item.active {
    color: $color-gold;
}