<body>
    <div class="title">
        <h1>Gestión de la página:</h1>
        <h1>metodos de pago</h1>
    </div>

    <div class='breadcrumbs'>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href='/admin'>GESTIÓN DE LA PÁGINA</a></li>
              <li class="breadcrumb-item">CRUDS</li>
              <li class="breadcrumb-item active" aria-current="page">CREAR</li>
            </ol>
          </nav>
    </div>

    <div class='crud-view'>
        <div class='crud-buttons'>
            <button class='btn active' ng-click='changeBtnStyle()' [routerLink]="['/admin-cruds/metodo-pago/create']" routerLinkActive="router-link-active">CREAR</button>
            <button class='btn active' ng-click='changeBtnStyle()' [routerLink]="['/admin-cruds/metodo-pago/read']" routerLinkActive="router-link-active" >VER</button>
            <button class='btn active'[routerLink]="['/admin-cruds/metodo-pago/update']" routerLinkActive="router-link-active">MODIFICAR</button>
            <button class='btn active' [routerLink]="['/admin-cruds/metodo-pago/delete']" routerLinkActive="router-link-active">ELIMINAR</button>
        </div>

        <div class='crud-detail'>
            <div class='section-content' id='purchase-records'>
                <div class='pr-container'>
                    <br>
                    <ul>
                        <app-metodos-pago-form></app-metodos-pago-form>
                    </ul>
                    <br>
                </div>
            </div>    
        </div>
    </div>
</body>