<div class='crud-buttons'>
    <button class='btn active' ng-click='changeBtnStyle()' [routerLink]="['/admin-cruds/product/create']" routerLinkActive="router-link-active">CREAR</button>
    <button class='btn active' ng-click='changeBtnStyle()' [routerLink]="['/admin-cruds/product/read']" routerLinkActive="router-link-active" >VER</button>
    <button class='btn active'[routerLink]="['/admin-cruds/product/update']" routerLinkActive="router-link-active">MODIFICAR</button>
    <button class='btn active' [routerLink]="['/admin-cruds/product/delete']" routerLinkActive="router-link-active">ELIMINAR</button>
    <!--<ul>
        <li>
            <button class='btn active'>CREAR</button>
        </li>
        <li>
            <button class='btn'>VER</button>
        </li>
        <li>
            <button class='btn'>MODIFICAR</button>
        </li>
        <li>
            <button class='btn'>ELIMINAR</button>
        </li>
    </ul>-->
</div>