<div class='section-content' id='purchase-records'>
    <div class='pr-container'>
        <ul>
            <li> <!--*ngFor="let record of records;-->
                <div class='purchase-record'>
                    <div class='purchase-id'>ID #</div>
                    <div class='purchase-info'>
                        <p>blablabla</p>
                        <!--USERNAME: {{record.username}} ; PRICE: ${{record.price}} ; STATUS: {{record.status}}-->
                    </div>
                </div>
            </li>
            <li> <!--*ngFor="let record of records;-->
                <div class='purchase-record'>
                    <div class='purchase-id'>ID #</div>
                    <div class='purchase-info'>
                        <p>blablabla</p>
                        <!--USERNAME: {{record.username}} ; PRICE: ${{record.price}} ; STATUS: {{record.status}}-->
                    </div>
                </div>
            </li>
            <li> <!--*ngFor="let record of records;-->
                <div class='purchase-record'>
                    <div class='purchase-id'>ID #</div>
                    <div class='purchase-info'>
                        <p>blablabla</p>
                        <!--USERNAME: {{record.username}} ; PRICE: ${{record.price}} ; STATUS: {{record.status}}-->
                    </div>
                </div>
            </li>
            <li> <!--*ngFor="let record of records;-->
                <div class='purchase-record'>
                    <div class='purchase-id'>ID #</div>
                    <div class='purchase-info'>
                        <p>blablabla</p>
                        <!--USERNAME: {{record.username}} ; PRICE: ${{record.price}} ; STATUS: {{record.status}}-->
                    </div>
                </div>
            </li>
            <li> <!--*ngFor="let record of records;-->
                <div class='purchase-record'>
                    <div class='purchase-id'>ID #</div>
                    <div class='purchase-info'>
                        <p>blablabla</p>
                        <!--USERNAME: {{record.username}} ; PRICE: ${{record.price}} ; STATUS: {{record.status}}-->
                    </div>
                </div>
            </li>
            <li> <!--*ngFor="let record of records;-->
                <div class='purchase-record'>
                    <div class='purchase-id'>ID #</div>
                    <div class='purchase-info'>
                        <p>blablabla</p>
                        <!--USERNAME: {{record.username}} ; PRICE: ${{record.price}} ; STATUS: {{record.status}}-->
                    </div>
                </div>
            </li>
            <li> <!--*ngFor="let record of records;-->
                <div class='purchase-record'>
                    <div class='purchase-id'>ID #</div>
                    <div class='purchase-info'>
                        <p>blablabla</p>
                        <!--USERNAME: {{record.username}} ; PRICE: ${{record.price}} ; STATUS: {{record.status}}-->
                    </div>
                </div>
            </li>
            <li> <!--*ngFor="let record of records;-->
                <div class='purchase-record'>
                    <div class='purchase-id'>ID #</div>
                    <div class='purchase-info'>
                        <p>blablabla</p>
                        <!--USERNAME: {{record.username}} ; PRICE: ${{record.price}} ; STATUS: {{record.status}}-->
                    </div>
                </div>
            </li>
            <li> <!--*ngFor="let record of records;-->
                <div class='purchase-record'>
                    <div class='purchase-id'>ID #</div>
                    <div class='purchase-info'>
                        <p>blablabla</p>
                        <!--USERNAME: {{record.username}} ; PRICE: ${{record.price}} ; STATUS: {{record.status}}-->
                    </div>
                </div>
            </li>
            <li> <!--*ngFor="let record of records;-->
                <div class='purchase-record'>
                    <div class='purchase-id'>ID #</div>
                    <div class='purchase-info'>
                        <p>blablabla</p>
                        <!--USERNAME: {{record.username}} ; PRICE: ${{record.price}} ; STATUS: {{record.status}}-->
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
        