<body>
    <div class="title">
        <h1>Checkout</h1>
    </div>
    <div class='checkout-step'>
        <h2>Compra finalizada</h2>
    </div>
    <hr>
    <div class='sections'>
        <div class='section-container'>
            <div class='section-title'>
                <h2>DELIVERY</h2>
            </div>
            <div class='section-content'>
                <div>
                    <button type="submit" class="btn btn-primary" [routerLink]="['/']" routerLinkActive="router-link-active" > Volver a la pagina principal </button>
                </div>
            </div>
        </div>
    </div>
    
</body>