<body>
    <header>
        <img src='assets/images/about/headerAbout.png' alt='aboutHeaderImage'>
    </header>
    <div class='container' id='history'>
        <div>
            <img src='assets/images/about/aboutHistory.png' alt='aboutHistoryStore'>
        </div>
        <div class='about-text'>
            <h2>Historia</h2>
            <p>Creada en 1969, the knd shop es una de las principales franquicias de caramelos en la actualidad. Su nombre viene de la combinación de las letras “knd” para replicar el sonido de “candy” - caramelo en inglés.</p>
            <p>Desde nuestros inicios como un emprendimiento creciente, con ayuda de familia y amigos, no hemos dejado de expandir nuestros límites, siempre buscando nuevos horizontes y metas para conquistar en el mundo de la caramelería.</p>
        </div>
    </div>
    <div class='big-container'>
        <div class='container' id='mission'>
            <div class='about-text'>
                <h2>Misión</h2>
                <p>Nuestra misión es simple:</p>
                <p>Desde gomitas azucaradas hasta avellanas cubiertas de chocolate, si tienes antojo por algo dulce, lo podrás saciar en cualquiera de nuestras tiendas. ¡Haz click “aqui” Para encontrar la que esté más cerca de ti!</p>
            </div>
            <div>
                <img src='assets/images/about/aboutMission.png' alt='aboutMissionTeamPlanning'>
            </div>
        </div>
        <div class='container' id='vision'>
            <div>
                <img src='assets/images/about/aboutVision.png' alt='aboutVisionGraphs'>
            </div>
            <div class='about-text'>
                <h2>Visión</h2>
                <p>The KND Shop busca posicionarse como la empresa #1 de venta de dulces por gramaje de Venezuela moretextmoretextmoretext, siempre conservando nuestra/su (idk man) característica calidad y waymoetext.</p>
            </div>
        </div>
    </div>
    


</body>