<body>
    <div class="title">
        <h1>Checkout</h1>
    </div>
    <div>
        <h2> Seleccione su metodo de envio </h2>
    </div>
    <div class='sections'>
        <div class='section-container'>
            <div class='section-content' id='cruds'>
                <div class='section-content' id='purchase-records'>
                    <div class='pr-container'>
                        <ul>
                            <li>
                                <div>
                                    
                                </div>  
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class='section-container'>

                <div class='section-content' id='purchase-records'>
                    <div class='pr-container'>
                        <ul>
                            <li> <!--*ngFor="let record of records;-->
                                <div class='purchase-record'>
                                    <div class='purchase-id'>ID #</div>
                                    <div class='purchase-info'>
                                        <p>blablabla</p>
                                        <!--USERNAME: {{record.username}} ; PRICE: ${{record.price}} ; STATUS: {{record.status}}-->
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                    
                </div>
                
            </div>

        </div>
    </div>
    
</body>